.collegesContainer{
    margin-left: 100px;
    position: relative;
}

.title{
    font-size: 18px;
    font-weight: medium;
    margin-left: 30px;
    margin-top: 49px;
}
.showColleges{
    display: flex;
    flex-wrap: wrap;
}
.collegeCommon{
    margin:37.35px 30.9px;
    width: 639px;
    height: 393.5px;
    padding: 0;
    /* border: 1px solid black; */
}

.collegeUpper{
    border-radius: 3.8px;
    box-shadow: 0 0 19px 0 rgba(68, 68, 68, 0.1);
    border: solid 0.2px var(--greyish-brown);
    background-image: linear-gradient( rgba(0,0,0,.5),rgba(0,0,0.5)) ,url('./images/college_02.jpg');
    /* background-color:rgba(red,0,0, 0.99); */
    position: relative;
    height: 233.2px;
}
.collegeLowerContainer{
    display: flex;
    justify-content: space-between;
    border-radius: 3.8px;
    box-shadow: 0 0 19px 0 rgba(68, 68, 68, 0.1);
    border: solid 0.2px var(--greyish-brown);
    background-color:#ffffff;
    padding-bottom: 10px;
}
.collegeLower{
    padding-left: 17px;
}

.rating{
    font-size: 16.5px;
    position: absolute;
    width:75px;
    height:53px;
    padding: 0;
    margin: 0;
    margin-left:549.3px;
    margin-top: 28.3px;
    background-color:#f5a626;
    text-align: center;
    border-radius: 3.8px;
}
.rating span{
    font-size: 16px;
}

.collegeName{
    padding-top: 18px;
    font-size: 18.5px;
    color: #444444;
    font-weight: bold;
    font-style: normal;
    letter-spacing: normal;
    line-height: 0.97;
    font-family: DINpro;
    padding-left: 3px;
}
.starSpan{
    padding-left: 10px;
}
.starSpan .dark{
    columns: #444444; ;
    padding-left: 5px;
}
.starSpan .faint{
    color:rgb(175, 168, 168) ;
    padding-left: 5px;
}

.nearestPlace{
    margin: 0;
    padding: 0;
}
.nearestPlace span{
    font-size: 13.5px;
    margin-left: 4px;
    color: #444444;
}

.nearestPlace span:nth-child(2){
    padding:0 .8px;
    font-size: 9px;
    margin: 5px;
    height: 0;
    background-color: #adadad;
}
.nearestPlace span:nth-child(3){
    padding:0 1px;
    font-weight: 400;
    color:#adadad;
}

.famousNearestPlace{
    margin: 0;
    margin-top: 150x;
    padding: 0;
}
.famousNearestPlace span{
    font-size: 13.5px;
    margin-left: 4px;
    color: #adadad;
}

.famousNearestPlace > span{
    color: #37b396;
    /* font-weight: bold; */
}

.wordBold{
    color: #444444;
}

.offerText{
    font-size: 13.5px;
    margin: 0;
    padding: 11px 0;
    padding-left:20px;
    margin-top:9px;
    width:347px;
    /* height:35px; */
    background-color: #ccf5e7;
    border-top-right-radius: 19px;
    border-bottom-right-radius: 19px;
    color: #444444;
    font-weight: medium;
}
.numBlue{
    color: #37b396;
}

.login{
    color: #1999d2;
    line-height: 18px;
    font-weight: bold;
}

  .arrow{
    width: 152px;
    height: 33px;
    text-align: center;
    font-size: 15px;
    font-weight: medium;
    color: #ffffff;
    background: #68a7ff;
    position: relative;
    margin-left:487px;
    z-index: 1;
    margin-bottom: -16.5px;
    line-height: 30px;
  }
  
  .arrow:before
  { 
    content: ""; 
    position: absolute; 
    border: 16.5px solid #68a7ff;
  }
  .arrow:before { 
    left: -33px;
    border-left: 16.5px solid transparent;
  }
  /* .arrow:after {
    right:-80px;
    border: 40px solid transparent;
    border-left: 40px solid #231f20;
  } */

  .fees{
     margin-top: 12px;
     padding-right:27px;
     /* margin-left: 65px; */
     /* margin-right:26px;  */
  }

  .originalFees{
      margin: 0;
      padding: 0;
      font-weight: medium;
      font-size: 11px;
      margin-left: 70px;
  }
  .originalFees span:nth-child(1){
    text-decoration-line: line-through;
    width: 38px;
    border: solid 0.2px var(--greyish-brown);
    background-color: var(--greyish-brown);
  }
  .originalFees span:nth-child(2){
    padding: 1px 14.5px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    margin-left: 6px;
    color: white;
    height: 14px;
    background-color: #dd1c26
  }

  .discountedFees{
    /* width: 85px; */
    margin-top: 5px;
    height: 26px;
    font-family: DINPro;
    font-size: 28.5px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.89;
    letter-spacing: normal;
    text-align: center;
    color: #dd1c26;
    margin-left: 67px;
  }

  .feesCycle{
      margin-left: 50px;
    height: 10px;
    font-family: Myriad Pro;
    font-size: 11px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.64;
    letter-spacing: normal;
    text-align: center;
    color: var(--greyish-brown);
  }

  .amenties{
      margin-top:32px;
      font-size: 13.5px;
      color:#37b396;
      /* margin-right:px; */
  }

  .amenties .dot{
      font-size: 1px;
      text-align: center;
      padding: 2px;
      margin-left: 5px;
      margin-right: 5px;
      padding-bottom: 0;
      margin-bottom: 14px;
      border-radius: 35px;
      background-color: #37b396;
  }

  .tags{
      position: absolute;
      height:34px;
      margin-left:7.3px;
      margin-top: 189px;
      font-size: 13.5px;
  }

  .tag{
      background-color: white;
      color: #444444;
      padding: 11px 18px;
      border-radius: 16.5px;
      margin-left: 7px;
  }

  .ranking{
      /* position: absolute; */
      margin-left: 175px;
      font-size: 13.5px;
      color:#ffffff
  }